.hero {
    background-color: #1f628e;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.navbar {
    margin-top: 10px;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
}