.hero {
    background-color: #1f628e;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.navbar {
    margin-top: 10px;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
}
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 3.5s steps(30, end);
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
#aboutme {
    margin-top: 60px;
}
#aboutme h3 {
    text-align: center;
}
#aboutme p {
    margin-top: 30px;
}